* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #f9f5f5;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 10.9rem 0 3rem 0;
}
@media only screen and (max-width: 87.5rem) {
  .container {
    padding-right: 4rem;
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 50rem) {
  .container {
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .container {
    padding-top: 1.7rem;
    padding-right: 2rem;
    padding-left: 1.9rem;
  }
}

/* ///////////////////////////CONTENT///////////////// */
.content {
  display: flex;

  margin-bottom: 9.6rem;
}
@media only screen and (max-width: 37.5rem) {
  .content {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.content__title {
  flex: 1;
  font-family: 'PT Serif';
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.8rem;
}
@media only screen and (max-width: 37.5rem) {
  .content__title {
    margin-bottom: 3.8rem;
  }
}
.content__story {
  flex: 1;
  font-size: 1.8rem;
  font-family: Poppins;
}

.content__story-1 {
  font-family: 'Poppins';
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.content__story-2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}
@media only screen and (max-width: 50rem) {
  .content__story-2 {
    font-size: 1.4rem;
  }
}

/* ///////////////////////////PROFILE///////////////// */

.profile {
  display: flex;
  gap: 7rem;
  /* justify-content: space-between; */
  margin-bottom: 5rem;
  flex-flow: row wrap;
}
@media only screen and (max-width: 87.5rem) {
  .profile {
    gap: 2rem;
  }
}
/* @media only screen and (max-width: 37.5rem) {
  .profile {
    gap: 2rem;
  }
} */
/* @media only screen and (max-width: 37.5rem) {
  .profile {
    gap: rem;
  }
} */
/* .profile-2 {
  display: flex;
  justify-content: space-between;
} */

.profile__staff {
  position: relative;
  width: 30%;
}
@media only screen and (max-width: 37.5rem) {
  .profile__staff {
    position: relative;
    width: calc(50% - 1rem);
  }
}

.profile__staff-position {
  position: absolute;
  top: 0;
  right: -1.2rem;
  transform-origin: 100% 0;
  /* transform: rotate(90deg) translate(100%, -100%); */
  transform: rotate(90deg) translate(100%, -100%);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 50rem) {
  .profile__staff-position {
    right: 0;
  }
}
@media only screen and (max-width: 37.5rem) {
  .profile__staff-position {
    font-size: 1rem;
    font-weight: 400;
  }
}
/* @media only screen and (max-width: 87.5rem) {
  .profile__staff-position {
    right: 7rem;
  }
} */

.profile__staff-name {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: Poppins;
  margin-top: 0.8rem;
  line-height: 2.7rem;
}
@media only screen and (max-width: 37.5rem) {
  .profile__staff-name {
    font-size: 1.4rem;
  }
}

.profile__staff-img {
  max-width: 100%;
}

.profile__staff-2,
.profile__staff-5 {
  margin-top: 10rem;
}

.myname__challenge {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 10rem;
  text-align: center;
  color: rgba(169, 169, 169, 1);
}
@media only screen and (max-width: 50rem) {
  .myname__challenge {
    margin-top: 8rem;
  }
}

/* //////////////////////////////////RESPONSIVE///////////////////////// */

/* 1400 */

@media only screen and (max-width: 87.5rem) {
}
/* 800 */
@media only screen and (max-width: 88rem) {
}

/* 600 */
@media only screen and (max-width: 37.5rem) {
}
